<div class = "principalContainer">
    <img class = "logoPrincipal" 
           src = "../../assets/img/logoCorfio2019.png" 
           alt = "Corfio">
    <div class = "menu">
        <mat-tab-group dynamicHeight 
                       animationDuration = "200ms" 
                       color = "accent" 
                       backgroundColor = "primary">
            <mat-tab label = "Criar Assinatura"> 
                <ng-template mat-tab-label>
                    <svg xmlns   = "http://www.w3.org/2000/svg" 
                         width   = "24" 
                         height  = "24" 
                         viewBox = "0 0 24 24">
                         <path d = "M2.5 4v3h5v12h3V7h5V4h-13zm19 5h-9v3h3v7h3v-7h3V9z"/>
                    </svg>
                    Assinatura
                </ng-template> 
                <div class = "itens">
                    <div class="signature-card">
                        <mat-grid-list cols="4" rowHeight="4:3">
                            <mat-grid-tile colspan="2" rowspan="2">
                                <div class="logoSignature">
                                    <img src="https://www.corfio.com.br/image/logo_assinatura.png" alt="">
                                </div>
                            </mat-grid-tile>
                            <div class="text-data">
                                <mat-grid-tile class="" colspan="2" rowspan="1">
                                    <div class="signature">
                                        <h3>{{ nome }}</h3>
                                         <p>{{ cargo }}</p>
                                    </div>
                                </mat-grid-tile>
        
                                <mat-grid-tile colspan="2" rowspan="1">
                                    <div class="contact">
                                        <p id="phone">+55 {{ phone }}</p>
                                        <p> {{ site }} </p>
                                    </div>
                                </mat-grid-tile>
                            </div>                            
                        </mat-grid-list>
                    </div>

                    <div class="form">
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="nome" 
                                   matInput placeholder="Nome" 
                                   onfocus="this.value=''"
                                   autocomplete="off">
                        </mat-form-field>
    
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="cargo" 
                                   matInput placeholder="Departamento" 
                                   onfocus="this.value=''"
                                   autocomplete="off">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="phone" 
                                   matInput placeholder="Fone"
                                   onfocus="this.value=''"
                                   autocomplete="off">
                        </mat-form-field>
    
                        <!-- <mat-form-field class="example-full-width">
                            <input [(ngModel)]="site" 
                                   matInput placeholder="Site" 
                                   value="">
                        </mat-form-field> -->
                    
                    </div>
                </div>   
            </mat-tab>
            
        </mat-tab-group>
        <div class="container-actions">
            <div class="actions">
                <button color="primary" mat-raised-button (click)="capture()" > Gerar Assinatura </button>    
                <button *ngIf="htmlSaida != ''" color="accent" mat-raised-button (click)="copy(htmlSaida)" > Copiar </button>
            </div>
            
            <div class="htmlSaida">
                {{htmlSaida}}
            </div>
        </div>
    </div>
    </div>

    
        
    
    

