html{
    font-family: 'Muli', sans-serif, 'Verdana', sans-serif;
}


%flex-center  { width:   100%; 
                display: flex;
                justify-content: center;}

%adjust-itens { margin-right: 15%; }               

.principalContainer {
    @extend %flex-center;
}

.menu {
    width: 100%;
}

.logoPrincipal {    
    height: 48px;    
}

.logoSignature img {
    width: 306px;
}

.itens {
    @extend %adjust-itens;
}

.signature-card {
       max-width: 650px;
     margin-left: auto;
    margin-right: auto;
      margin-top: 15px;
   margin-bottom: 15px;
  }
  
.header-image {
    background-image: url('../../assets/img/logoCorfio2019.png');
     background-size: cover;
}

mat-grid-tile {
    background: white;
}



.text-data {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.signature {
    
    color: gray;
    font-family: 'Muli', 'Verdana', sans-serif;
    margin-top: 50px;
    // margin-left: 20px;
    // margin-right: 20px;
}

.signature p {
    text-align: left;
}

.contact {
    color: gray;
    font-weight: normal;
    // margin-right: 20px;
    // margin-left: 20px;
    margin-bottom: 50px;
}

.contact p {
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.signature h3, h4 {
    margin: 2px;
}

#phone {
    font-weight: 700;
}

mat-form-field {
    margin-left: 10px;
}