<div class = "principalContainer">
    <img class = "logoPrincipal" 
           src = "../../assets/img/logoCorfio2019.png" 
           alt = "Corfio">
    <div class = "menu">
        <mat-tab-group dynamicHeight 
                       animationDuration = "200ms" 
                       color = "accent" 
                       backgroundColor = "primary">
            <mat-tab label = "Criar Assinatura"> 
                <ng-template mat-tab-label>
                    <svg xmlns   = "http://www.w3.org/2000/svg" 
                         width   = "24" 
                         height  = "24" 
                         viewBox = "0 0 24 24">
                         <path d = "M2.5 4v3h5v12h3V7h5V4h-13zm19 5h-9v3h3v7h3v-7h3V9z"/>
                    </svg>
                    Assinatura
                </ng-template> 
                <div class="info">
                    <h3>Gerador de assinaturas</h3>
                    <h4>Por favor, preencha o formulário, selecione e copie a assinatura para utilizar no seu cliente de e-mail.</h4>
                </div>
                
                <div class = "itens">
                        <div class="form">
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="nome" 
                                           matInput placeholder="Nome" 
                                           autocomplete="off">
                                </mat-form-field>
            
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="cargo" 
                                           matInput placeholder="Departamento" 
                                           autocomplete="off">
                                </mat-form-field>
                                <br>
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="phone" 
                                           matInput placeholder="Fone1"
                                           autocomplete="off">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="phone2" 
                                           matInput placeholder="Fone2"
                                           
                                           autocomplete="off">
                                </mat-form-field>
                                <br>
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="skype" 
                                           matInput placeholder="Contato Secundário"
                                           
                                           autocomplete="off">
                                </mat-form-field>
            
                                <!-- <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="site" 
                                           matInput placeholder="Site" 
                                           value="">
                                </mat-form-field> -->
                            
                            </div>

            <div class="assinatura">
                <!DOCTYPE html>
                <html>
                <head>
                    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
                    <style>
                        body {
                            font-family: 'Muli', Verdana, sans-serif;
                        }
                    </style>
                </head>
                <body>
                    <table>
                        <tr>
                            <td rowspan=2> 
                                    <a href="http://www.corfio.com.br"> 
                                        <img style="padding-left: 10px;" width=150 src="https://www.corfio.com.br/image/logo_assinatura_sembarra.png" alt="Corfio">
                                    </a>
                             </td>

                            <td  style=" width: 1px; height: 125px; background-color: rgb(117,120,123)"></td>
                            <td> 
                                <table style="margin-left: 10px; width: 250px; height: 120px">
                                    <tr> 
                                        <font style="font-family: 'Muli', Verdana, sans-serif; font-SIZE: 14px; font-WEIGHT: bold; color: rgb(117,120,123);"> {{ nome }} </font>                                            
                                    </tr>
                                    <tr>
                                        <font  style="font-family: 'Muli', Verdana, sans-serif; font-SIZE: 12px; font-WEIGHT: normal; color: rgb(117,120,123);"> {{ cargo }} </font>
                                    </tr>
                                    <tr>  
                                        <font style="font-family: 'Muli', Verdana, sans-serif; font-SIZE: 12px; font-WEIGHT: normal; color: rgb(117,120,123);"> {{ phone }} </font>
                                    </tr>
                                    <tr>
                                        <font style="font-family: 'Muli', Verdana, sans-serif; font-SIZE: 12px; font-WEIGHT: normal; color: rgb(117,120,123);"> {{ phone2 }} </font>
                                    </tr>
                                    <tr>
                                        <font style="font-family: 'Muli', Verdana, sans-serif; font-SIZE: 12px; font-WEIGHT: normal; color: rgb(117,120,123);"> {{ skype }} </font>
                                    </tr>
                                    <tr>
                                        <font style="font-family: 'Muli', Verdana, sans-serif; font-SIZE: 10px; font-WEIGHT: normal; color: rgb(117,120,123); text-decoration:none"> <a href="http://www.corfio.com.br"> www.corfio.com.br </a></font>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>                    
                </body>
                </html>
            </div>
                </div>   
            </mat-tab>
            
        </mat-tab-group>
        <!-- <div class="container-actions">
            <div class="actions">
                <button color="primary" mat-raised-button (click)="capture()" > Gerar Assinatura </button>    
                <button *ngIf="htmlSaida != ''" color="accent" mat-raised-button (click)="copy(htmlSaida)" > Copiar </button>
            </div>
            
            <div class="htmlSaida">
                
            </div>
        </div> -->
    </div>
    </div>

    <div >

    

    </div>

    
        
    
    

